extends base

block content
  h1 New Question
  .login-form
    form
      label.login-form__username Problem Statement
      textarea#statement(type='text' name='problem' placeholder='State the question' required)

      label.login-form__username Level Name
      input#levelName(type='text' name='levelName' placeholder='Level Name' required)

      label.login-form__username Answer
      input#answer(type='text' name='answer' placeholder='Enter Answer' required)

      label.login-form__username Link
      input#hint(type='text' name='hint' placeholder='Link')

      label.login-form__username Link Text
      input#hintText(type='text' name='hintText' placeholder='Link Text')

      label.login-form__username Level Number
      input#level(type='text' name='level' placeholder='Problem level number' required)

      button(class="btn waves-effect waves-light" type="submit" name="action") Submit

block append scripts
  script(src="/js/newQuestion.js")
