extends base

block content 
  h1
    a(href="https://www.youtube.com/watch?v=_eTFrIE0bMA" target="_noref" style="color: rgba(0, 0, 0, 0.87); cursor: default") 404 Error
  h5 This page does not exist on the server!