extends base

block content
  h1 login
  .login-form
    form
      label.login-form__username Email
      input#email(type='email' name='email' placeholder='bre4ched@ieeemuj.com' required)

      label.login-form__password Password
      input#password(type='password' name='password' placeholder='********' required)

      button(class="btn waves-effect waves-light" type="submit" name="action") Submit

block append scripts
  script(src="/js/login.js")
