extends base

block content
  h1 Register
  p Note: Please use the same email that was used during Unstop registration.
  .login-form
    form
      label.login-form__username Team Name
      input#username(type='text' name='username' placeholder='Team Name' required)

      label.login-form__email Email Address
      input#email(type='email' name='email' placeholder='bre4ched@ieeemuj.com' required)

      label.login-form__password Password
      input#password(type='password' name='password' placeholder='********' required)

      button(class="btn waves-effect waves-light" type="submit" name="action") Submit

block append scripts
  script(src="/js/signup.js")
