extends base 

block content 
  h1 Story
  div(style="margin: 0 auto; width: 70vw; height: 100vh; overflow-y: scroll")
    p Awakening in darkness, my head throbbing and body sore as if I'd been there for an eternity. Confusion clouded my mind; I struggled to recall anything about myself or how I arrived here. The more I strained to remember, the sharper the pain became. Amidst the haze of uncertainty, one thing was clear- I need to find a way out, to escape this unknown that has engulfed me.
    br
    p My hands fumbled around, searching for any clue about my surroundings. Beneath me was something soft….something like a cushion. As I tried to rise, my feet collided with a solid object, sending a jolt of pain through me. Instinctively, I drew back, the discomfort easing gradually. I realized I was sitting on the edge of the cushion….or was it a bed ? Maybe I had hit the footboard of the bed ?
    br
    p My hand brushed against a solid, smooth surface. I assured myself, “Ok so there’s a floor”. With cautious steps, I rose from the bed and extended my arms, searching for the walls. Upon making contact with the wall, my questing hand encountered a plastic switch. Instinctively, I flipped it, and the room was suddenly flooded with flickering light of a tubelight which wasn’t visible. It was extremely weird, I can see the light, but not the source. My heart started racing at a pace which was not at all explainable.
    br
    p When the light stabilized after a few seconds of flickering. Shielding my eyes from the sudden brightness, I gradually adjusted to the illumination. As the room came into focus, I realized it was sparsely furnished- a single bed, a lone door at the other side, and nothing more.
    br
    img(src="/assets/2.jpg", alt="Room" style="width: 640px; margin: 0 auto; display: block;")
    br
    p It was a small room bathed in the warm glow of the light, casting an eerie ambiance. Its dim illumination barely revealed the confines of the small space. Devoid of any windows, the room remained a mystery as to its location. My gaze wandered, taking in the modest furnishings- a solitary CRT television stationed a little right across the bed caught my attention. Yet, it was that 1 wall adjacent to the door adorned with newspaper cutouts that struck me as the most intriguing aspect of the room.
    br
    p Then suddenly the TV screen crackled to life. I saw a figure clad in strange and creepy gear. The voice emanating from the screen was deep and ominous. "I am General Xeros" the figure declared, his words resonating with gravity. "I understand your confusion and questions" he continued, "but know this- you are one of the most important individuals on this planet right now."
    br
    img(src="/assets/1.png", alt="General Xeros" style="width: 640px; margin: 0 auto; display: block;")
    br
    p Stunned and bewildered, I managed to stammer, "Where am I ? Who are you ?!"
    br
    p Ignoring my questions, General Xeros pressed on, "Our agency is the truth behind conspiracy theories. Things people like you hear- Time travel, extraterrestrial life, Area 51, Aliens, the Bermuda Triangle, etc. Yes they are true, and a part of a greater reality."
    br
    p "But why me ?" I interjected, trying to make sense of the surreal situation unfolding before me.
    br
    p "You possess unique skills" He explained, "Skills that are essential for a mission of utmost importance….skills to save humanity."
    br
    p My mind raced with confusion and fear as he delved deeper into the revelation, "Dr. Tempus- a once-respected scientist, has turned rogue. Driven by his thirst for power and a warped vision of reality, he sought to reshape the very fabric of time." He said with disappointment, “Tempus thinks he can change reality with time and can benefit himself from the fates of others.”
    br
    p Struggling to grasp the gravity of the situation, I asked, "How can I stop someone like Dr. Tempus ? Why me ?"
    br
    p "Your unique abilities make you our best chance” He replied, “Dr. Tempus's radical experiments crossed ethical lines, leading to his isolation from the scientific community."
    br
    p As I absorbed the weight of my responsibility, General Xeros continued, "Your journey won't be easy. There will be moments of clarity and others of overwhelming adversity. Trust in your instincts, but tread carefully. Not everything is as it seems. Don’t trust anyone, demons you come across can be someone else’s angel, or….vice versa."
    br
    p Feeling a roller coaster of emotions, I nodded in reluctant acceptance. "I'll do what I can" I replied, my voice wavering slightly. "But how do I even begin ?"
    br
    p "Start with the file you'll receive" He advised, "Unlock its secrets, and the path will reveal itself."
    br
    p As I processed the overwhelming information, His voice cut through the uncertainty, "The file you’ll receive won't lay out the path directly. You'll need to unravel its mysteries, a task only you can accomplish."
    br
    p His words about time travel and the unpredictability of Tempus's actions sent a chill down my spine, "What if I get lost in time ?" I asked, my voice betraying my anxiety.
    br
    p His response was firm yet calming, "Fluctuations and anomalies are to be expected" he explained, "Stay focused on your mission. You may jump from one moment and place to another, willingly or unwillingly. Your destination is crucial, no matter where- or when- you find yourself."
    br
    p With a nod of determination, I steeled myself for the challenges ahead. "I'll do my best," I replied, mustering all the courage I could.
    br
    p "Good luck, son," He said, his words carrying a weight of responsibility and hope.
    a(href="/play" class="waves-effect waves-light btn home-cta" style="width: 100px; margin: 15px auto; display: block;") Play